/** ホーム **/
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.home_body {
    background-image: url('../p_image/soccerground.jpeg');
}

.home_header {
    padding-top: 48px;
}

.home_main {
    padding: 24px 20px 0;
}

.home_btnList {
    padding-top: 48px;
}

.home_btnList>li {
    display: flex;
    justify-content: center;
}

.home_btnList>li:not(:first-child) {
    padding-top: 24px;
}

.home_footer {
    padding: 20px;
}

/* ===== ヘッダー ===== */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #14788b;
    color: #fff;
    padding: 0.8rem 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header h1,
.header h2 {
    margin: 0 auto;
    font-size: 1rem;
}

.back-btn {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
}

.btn-participants {
    flex: 1;
    border: 1px solid #fff;
    background-color: #14788b;
    border-color: #14788b;
    color: #fff;
    border-radius: 1.2rem;
    padding: 1.6rem 0.8rem;
    font-weight: bold;
    text-align: center;
    transition: 0.2s;
    font-size: 24px;
}

.btn-administrator {
    flex: 1;
    border: 1px solid #fff;
    background-color: #fff;
    color: #14788b;
    border-radius: 1.2rem;
    padding: 1.6rem 0.8rem;
    font-weight: bold;
    text-align: center;
    transition: 0.2s;
    font-size: 24px;
    display: none;
}   