/** メンバー **/
.mem_header {
    position: relative;
    padding: 8px 0;
}

.mem_reloadBtn {
    position: absolute;
    top: 8px;
    right: 20px;
    cursor: pointer;
}

.mem_reloadIcon {
    width: 32px;
    height: 32px;
}

.mem_main {
    padding-bottom: 64px;
}

.mem_ttlSec {
    padding: 32px 20px 0;
}

.mem_listSec {
    padding: 24px 20px 0;
}

.mem_teamList>li:not(:first-child) {
    padding-top: 24px;
}

.mem_teamHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mem_teamHeader>p {
    flex-grow: 1;
}

.mem_editLink {
    flex-shrink: 0;
    padding-left: 4px;
}

.mem_memberTableWrapper {
    padding-top: 16px;
}

.mem_memberBtnArea {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.mem_memberTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #FFFFFF;
}

.mem_memberTable th {
    padding: 4px 0;
    background-color: #7FFFD4;
}

.mem_memberTable th:not(:first-child) {
    border-left: 1px solid #2E2E2E;
}

.mem_memberTable th:first-child {
    width: 48px;
}

.mem_memberTable td {
    padding: 4px 8px;
    border-top: 1px solid #2E2E2E;
}

.mem_memberTable td:not(:first-child) {
    border-left: 1px solid #2E2E2E;
}

.mem_btnSec {
    padding: 48px 20px;
}