/** メンバー登録 **/
.mer_header {
    padding: 8px 0;
}

.mer_main {
    padding-bottom: 64px;
}

.mer_ttlSec {
    padding: 32px 20px 0;
}

.mer_InputSec {
    padding: 24px 20px 0;
}

.mer_inputList {
    padding-top: 24px;
}

.mer_inputList>li {
    position: relative;
    width: 100%;
    padding: 24px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
}

.mer_inputList>li:not(:first-child) {
    margin-top: 24px;
}

.mer_inputItemArea+.mer_inputItemArea {
    padding-top: 24px;
}

.mer_crossBtn {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mer_inputItem {
    padding-top: 8px;
}

.mer_textField_width116 {
    width: 116px;
}

.mer_textField_width280 {
    width: 280px;
}

.mer_addLinkArea {
    padding-top: 48px;
}

.mer_registerBtnArea {
    display: flex;
    justify-content: center;
    padding-top: 48px;
}

.mer_btnSec {
    padding: 48px 20px;

}
