/* 試合結果入力 */
.rf_nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 0;
    background-color: rgba(248, 181, 0, 0.4);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    z-index: 100;
}

.rf_navList {
    display: flex;
    justify-content: center;
}

.rf_navList>li:not(:first-child) {
    margin-left: 24px;
}

.rf_navBtn {
    display: block;
    width: 140px;
    padding: 9px 0;
    border: 2px solid #316745;
    border-radius: 28px;
    outline: none;
    cursor: pointer;
}

.rf_navBtn_WHT {
    background-color: #FFFFFF;
}

.rf_navBtn_GRN {
    background-color: #316745;
}