/** 画面共通 **/
@font-face {
    font-family: "Noto Sans JP";
    src: url("../../common/font/NotoSansJP-Regular.ttf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans JP";
    src: url("../../common/font/NotoSansJP-Bold.ttf") format("opentype");
    font-weight: 700;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ　Ｐゴシック", "HelveticaNeue", "Helvetica", "Arial", Sans-Serif;
    background-image: url("../image/futsul_court_sp.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
}

.com_header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: #008673;
}

.com_header>h1 {
    flex-grow: 1;
}

.com_header> {
    flex-shrink: 0;
}