/** 管理者ログイン画面 **/
.lo_loginSec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 24px 20px;
}

.lo_card {
    flex-grow: 1;
    padding: 24px 20px 44px;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px 0 rgba(46, 46, 46, 0.1);
}

.lo_img {
    padding-top: 64px;
}

.lo_title {
    padding-top: 24px;
}

.lo_exp {
    padding-top: 8px;
}

.lo_pwArea {
    padding-top: 24px;
}

.lo_pwInputArea {
    padding-top: 8px;
}

.lo_loginBtnArea {
    display: flex;
    justify-content: center;
    padding: 48px 0 4px;
}