<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フットサルリーグ｜ホーム</title>
    <link rel="stylesheet" href="../common/css/reset.css">
    <link rel="stylesheet" href="../common/css/components.css">
    <link rel="stylesheet" href="../futsul_files/css/common.css">
    <link rel="stylesheet" href="../futsul_files/css/home.css">
</head>

<body>
    <!-- メイン -->
    <main>
        <section class="hm_kvSec">
            <p class="c_typo_headerL c_typo_WHT">フットサルリーグ</p>
            <p class="c_typo_headerM c_typo_WHT">2026年度　第1回大会</p>
            <p class="c_typo_headerM c_typo_WHT">7/31（金）開催</p>
        </section>

        <section class="hm_teamSec">
            <a href="./login.html" class="hm_settingBtn">
                <p class="c_typo_headerXS c_typo_BLK10">管理者ログイン ⚙️</p>
            </a>

            <p class="c_typo_headerM c_typo_BLK10">参加チーム選択</p>
            <ul class="hm_teamList" id="hm_teamList"></ul>
        </section>

        <section class="hm_archiveSec">
            <p class="c_typo_headerM c_typo_BLK10">過去大会アーカイブ</p>
            <ul class="hm_tournamentList" id="hm_tournamentList"></ul>
        </section>
    </main>

    <script src="../common/js/event.js"></script>
    <script src="../futsul_files/js/common.js"></script>
    <script src="../futsul_files/js/home.js"></script>
</body>

</html>