<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <title>フットサルリーグ｜APIテスト</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/reset.css?20251010">
    <link rel="stylesheet" href="../futsul_files/p_css/component.css?20251010">
    <link rel="stylesheet" href="../futsul_files/p_css/common.css?20251010">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/api_test.css?20251010">
</head>

<body>
    <!-- ヘッダー -->
    <header>
        <h1>APIテスト</h1>
    </header>

    <!-- メイン -->
    <main>
        <ul class="btnList">
            <li>
                <a id="getTeamListBtn" class="btn" href="javascript:void(0);">チームリスト取得</a>
                <div id="output" class="output">
                    <ul></ul>
                </div>
            </li>
        </ul>
        <p id="error" class="error">エラーはありません</p>
    </main>

    <!-- 共通JS -->
    <script src="../futsul_files/p_css/event.js?20251010"></script>
    <script src="../futsul_files/p_css/common.js?20251010"></script>
    <!-- 画面個別JS -->
    <script src="../futsul_files/p_css/api_test.js?20251010"></script>
</body>

</html>