<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <title>フットサルリーグ｜ホーム</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/reset.css">
    <link rel="stylesheet" href="../futsul_files/p_css/component.css">
    <link rel="stylesheet" href="../futsul_files/p_css/common.css">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/home.css">
</head>

<body class="com_body com_body_flex">
    <!-- ヘッダー -->
    <header class="home_header">
        <h1 class="c_typo_headerXL c_typo_WHT c_typo_center">フットサルリーグ</h1>
    </header>

    <!-- メイン -->
    <main class="com_main home_main">
        <ul class="home_btnList">
            <li>
                <a href="./match.html"><p class="c_typo_WHT">参加者 →</p></a>
            </li>
            <li>
                <a href="./admin.html"><p class="c_typo_WHT">管理者 →</p></a>
            </li>
        </ul>
    </main>

    <!-- フッター -->
    <footer class="home_footer">
        <p class="com_typo_footer">&copy; 2025 フットサルリーグ. All rights reserved.</p>
    </footer>

    <!-- 共通JS -->
    <script src="../futsul_files/p_css/event.js"></script>
</body>

</html>