<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <title>フットサルリーグ｜ホーム</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/reset.css?20251010">
    <link rel="stylesheet" href="../futsul_files/p_css/component.css?20251010">
    <link rel="stylesheet" href="../futsul_files/p_css/common.css?20251010">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/home.css?20251010">
</head>

<body class="com_body com_body_flex home_body">
    <!-- ヘッダー -->
    <header class="home_header">
        <h1 class="c_typo_headerXL c_typo_WHT c_typo_center">フットサルリーグ</h1>
    </header>

    <!-- メイン -->
    <main class="com_main home_main">
        <ul class="home_btnList">
            <li><a class="c_btn c_btn_sizeM c_btn_GRN" href="./member.html">
                    <p class="c_typo_headerM c_typo_WHT c_typo_center">参加者</p>
                </a></li>
            <li><a class="c_btn c_btn_sizeM c_btn_WHT" href="./member.html">
                    <p class="c_typo_headerM c_typo_GRN02 c_typo_center">管理者</p>
                </a></li>
        </ul>
    </main>

    <!-- フッター -->
    <footer class="home_footer">
        <p class="com_typo_footer">&copy; 2025 フットサルリーグ. All rights reserved.</p>
    </footer>

    <div class="comingsoonArea"><p class="comingsoon_typo">Coming soon!!</p></div>

    <!-- 共通JS -->
    <script src="../futsul_files/p_css/event.js?20251010"></script>
</body>


</html>
