<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <title>フットサルリーグ｜対戦表</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/reset.css?20251010">
    <link rel="stylesheet" href="../futsul_files/p_css/component.css?20251010">
    <link rel="stylesheet" href="../futsul_files/p_css/common.css?20251010">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/match.css?20251010">
</head>

<body class="com_body com_body_flex">
    <!-- ヘッダー -->
    <header class="mat_header">
        <h1 class="c_typo_headerXL c_typo_WHT c_typo_center">対戦表</h1>
        <a id="com_reloadBtn" class="mat_reloadBtn" href="javascript:void(0);"><img class="mat_reloadIcon"
                src="../futsul_files/p_image/reload.svg?20251010" alt="更新"></a>
    </header>

    <!-- メイン -->
    <main class="mat_main">
        <!-- タイトルセクション -->
        <section>
            <h2 class="c_typo_headerL c_typo_WHT">第<span id="mat_leagueNum"></span>回フットサルリーグ</h2>
            <div class="c_textLink c_textLink_WHT"><a href="./member.html">
                    <p>メンバー編成へ →</p>
                </a></div>
            <div class="c_textLink c_textLink_WHT"><a href="./rank.html">
                    <p>過去の戦績へ →</p>
                </a></div>
        </section>

        <!-- 対戦表セクション -->
        <section class="mat_roundSec">
            <ul class="mat_roundList">
                <li>
                    <h3 class="c_typo_headerM c_typo_WHT">第1節（19:15～19:25）</h3>
                    <ul class="mat_matchCardList">
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">①コート（クラブハウス側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">営企</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">0</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">3</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">法人事務オペ</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">②コート（真ん中）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">情シス</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">2</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">1</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">商サ開発</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">③コート（クラブハウス逆側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">事務企</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">0</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">3</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">業務</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                    </ul>
                </li>
                <li>
                    <h3 class="c_typo_headerM c_typo_WHT">第2節（19:25～19:35）</h3>
                    <ul class="mat_matchCardList">
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">①コート（クラブハウス側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">デジHub</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">1</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">2</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">IT・デジ戦</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">②コート（真ん中）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">金法業</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">1</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">2</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">営人</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">③コート（クラブハウス逆側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">地リレ</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">1</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">3</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">営企</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                    </ul>
                </li>
                <li>
                    <h3 class="c_typo_headerM c_typo_WHT">第3節（19:35～19:45）</h3>
                    <ul class="mat_matchCardList">
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">①コート（クラブハウス側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">法人事務オペ</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">1</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">1</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">情シス</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">②コート（真ん中）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">商サ開発</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">2</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">0</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">事務企</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">③コート（クラブハウス逆側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">業務</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">4</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">6</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">地リレ</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                    </ul>
                </li>
                <li>
                    <h3 class="c_typo_headerM c_typo_WHT">第4節（19:45～19:55）</h3>
                    <ul class="mat_matchCardList">
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">①コート（クラブハウス側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">IT・デジ戦</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">7</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">0</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">金法業</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">②コート（真ん中）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">営人</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">2</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">2</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">デジHub</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">③コート（クラブハウス逆側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">営企</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">0</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">7</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">業務</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                    </ul>
                </li>
                <li>
                    <h3 class="c_typo_headerM c_typo_WHT">第5節（19:55～20:05）</h3>
                    <ul class="mat_matchCardList">
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">①コート（クラブハウス側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">法人事務オペ</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">2</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">1</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">商サ開発</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">②コート（真ん中）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">情シス</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">3</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">0</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">営企</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">③コート（クラブハウス逆側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">事務企</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">0</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">4</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">IT・デジ戦</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                    </ul>
                </li>
                <li>
                    <h3 class="c_typo_headerM c_typo_WHT">第6節（20:05～20:15）</h3>
                    <ul class="mat_matchCardList">
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">①コート（クラブハウス側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">金法業</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">2</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">3</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">地リレ</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">②コート（真ん中）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">営人</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">0</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">2</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">事務企</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">③コート（クラブハウス逆側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">デジHub</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">0</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">2</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">法人事務オペ</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                    </ul>
                </li>
                <li>
                    <h3 class="c_typo_headerM c_typo_WHT">第7節（20:15～20:25）</h3>
                    <ul class="mat_matchCardList">
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">①コート（クラブハウス側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">業務</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">1</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">0</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">情シス</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">②コート（真ん中）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">商サ開発</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">1</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">1</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">デジHub</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">③コート（クラブハウス逆側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">IT・デジ戦</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">6</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">0</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">地リレ</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                    </ul>
                </li>
                <li>
                    <h3 class="c_typo_headerM c_typo_WHT">第8節（20:25～20:35）</h3>
                    <ul class="mat_matchCardList">
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">①コート（クラブハウス側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">情シス</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">5</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">1</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">営人</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">②コート（真ん中）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">商サ開発</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">2</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">2</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">IT・デジ戦</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">③コート（クラブハウス逆側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">業務</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">4</p>
                                        <div class="c_tag_sizeS c_tag_GRY">
                                            <p class="c_typo_headerXXS c_typo_BLK01">試合終了</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">0</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">金法業</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                    </ul>
                </li>
                <li>
                    <h3 class="c_typo_headerM c_typo_WHT">第9節（20:35～20:45）</h3>
                    <ul class="mat_matchCardList">
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">①コート（クラブハウス側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">営企</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">6</p>
                                        <div class="c_tag_sizeS c_tag_BLU">
                                            <p class="c_typo_headerXXS c_typo_BLK01">これから</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">1</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">金法業</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">②コート（真ん中）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">事務企</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">5</p>
                                        <div class="c_tag_sizeS c_tag_BLU">
                                            <p class="c_typo_headerXXS c_typo_BLK01">これから</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">1</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">地リレ</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                        <li><a href="./result.html" class="mat_matchCard">
                                <div class="mat_matchCard_left">
                                    <p class="c_typo_headerXXS c_typo_BLK01">③コート（クラブハウス逆側）</p>
                                    <div class="mat_matchCard_matchInfo">
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">法人事務オペ</p>
                                        <p class="c_typo_bodyL c_typo_BLK01">4</p>
                                        <div class="c_tag_sizeS c_tag_BLU">
                                            <p class="c_typo_headerXXS c_typo_BLK01">これから</p>
                                        </div>
                                        <p class="c_typo_bodyL c_typo_BLK01">2</p>
                                        <p class="c_typo_bodyL c_typo_BLK01 c_typo_center">営人</p>
                                    </div>
                                </div>
                                <div class="mat_matchCard_detailBtn"><img class="mat_matchCard_detailIcon"
                                        src="../futsul_files/p_image/right.svg?20251010" alt="詳細情報"></div>
                            </a></li>
                    </ul>
                </li>
            </ul>
        </section>

        <!-- ボタンセクション -->
        <section class="mat_btnSec">
            <div class="c_textLink c_textLink_WHT"><a href="javascript:history.back();">
                    <p>← 戻る</p>
                </a></div>
        </section>
    </main>

    <!-- ナビゲーション -->
    <nav class="com_nav">
        <ul class="com_navList">
            <li><a class="com_navBtn" href="javascript:history.back();"><img class="com_navIcon"
                        src="../futsul_files/p_image/home.svg?20251010" alt="ホーム">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">ホーム</p>
                </a></li>
            <li><a class="com_navBtn" href="./member.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/member.svg?20251010" alt="メンバー">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">メンバー</p>
                </a></li>
            <li><a class="com_navBtn com_navBtn_disabled" href="javascript:void(0);"><img class="com_navIcon"
                        src="../futsul_files/p_image/battle_disactive.svg?20251010" alt="対戦表">
                    <p class="c_typo_headerXXS c_typo_BLK03 c_typo_center">対戦表</p>
                </a></li>
            <li><a class="com_navBtn" href="./score.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/rank.svg?20251010" alt="ランキング">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">ランキング</p>
                </a></li>
        </ul>
    </nav>

    <!-- 共通JS -->
    <script src="../futsul_files/p_css/event.js?20251010"></script>
    <script src="../futsul_files/p_css/common.js?20251010"></script>
    <!-- 画面個別JS -->
    <script src="../futsul_files/p_css/match.js?20251010"></script>
</body>

</html>