<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>試合結果一覧</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/reset.css?20251010">
    <link rel="stylesheet" href="../futsul_files/p_css/component.css?20251010">
    <link rel="stylesheet" href="../futsul_files/p_css/common.css?20251010">
    <!-- 個別CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/matchResult.css" />
</head>

<body class="com_body_flex">
    <!-- ヘッダー -->
    <header class="com_header">
        <h1 class="c_typo_headerL c_typo_WHT">⚽ フットサルリーグ</h1>
        <p class="c_typo_headerM c_typo_WHT">対戦表</p>
    </header>

    <main class="com_main">
        <section id="match-list-view" class="view active">
            <!-- フィルタタブを囲むボックス -->
            <div class="filter-box">
                <div class="filter-tabs">
                    <button class="filter-btn active" data-status="すべて">すべて</button>
                    <button class="filter-btn" data-status="終了">終了</button>
                    <button class="filter-btn" data-status="進行中">進行中</button>
                    <button class="filter-btn" data-status="予定">予定</button>
                </div>
            </div>

            <div id="match-list-container" class="match-list"></div>
        </section>
    </main>

    <!-- ナビゲーション -->
    <nav class="com_nav">
        <ul class="com_navList">
            <li><a class="com_navBtn" href="./home.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/home.svg?20251010" alt="ホーム">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">ホーム</p>
                </a></li>
            <li><a class="com_navBtn" href="./matchResult.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/battle.svg?20251010" alt="対戦表">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">対戦表</p>
                </a></li>
            <li><a class="com_navBtn com_navBtn" href="./manageMember.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/member.svg?20251010" alt="メンバー">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">メンバー登録</p>
                </a></li>
        </ul>
    </nav>

    <script src="../futsul_files/p_css/event.js"></script>
    <script src="../futsul_files/p_css/common.js"></script>
    <script src="../futsul_files/p_css/matchResult.js"></script>
</body>

</html>