<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <title>フットサルリーグ｜メンバー</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/reset.css?20251010">
    <link rel="stylesheet" href="../futsul_files/p_css/component.css?20251010">
    <link rel="stylesheet" href="../futsul_files/p_css/common.css?20251010">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/member.css?20251010">
</head>

<body class="com_body com_body_flex">
    <!-- ヘッダー -->
    <header class="mem_header">
        <h1 class="c_typo_headerXL c_typo_WHT c_typo_center">メンバー</h1>
        <a id="com_reloadBtn" class="mem_reloadBtn" href="javascript:void(0);"><img class="mem_reloadIcon"
                src="../futsul_files/p_image/reload.svg?20251010" alt="更新"></a>
    </header>

    <!-- メイン -->
    <main class="com_main mem_main">
        <section class="mem_ttlSec">
            <p class="c_typo_bodyM c_typo_WHT">説明文説明文説明文説明文説明文説明文説明文説明文</p>
        </section>

        <!-- 一覧セクション -->
        <section class="mem_listSec">
            <ul class="mem_teamList">
                <li>
                    <div class="mem_teamHeader">
                        <p class="c_typo_headerM c_typo_WHT">営業企画部</p>
                        <div class="mem_editLink">
                            <div class="c_textLink"><a href="./member_register.html?type=edit">
                                    <p class="c_typo_headerXS c_typo_WHT">変更</p>
                                    <img class="c_textLink_icon_right" src="../futsul_files/p_image/pencil.svg?20251010"
                                        alt="変更">
                                </a></div>
                        </div>
                    </div>
                    <div class="mem_memberTableWrapper">
                        <table class="mem_memberTable">
                            <thead>
                                <tr>
                                    <th>
                                        <p class="c_typo_headerS c_typo_BLK01 c_typo_center">No</p>
                                    </th>
                                    <th>
                                        <p class="c_typo_headerS c_typo_BLK01 c_typo_center">氏名</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">1</p>
                                    </td>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">は_長谷部　誠</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">2</p>
                                    </td>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">ほ_本田　圭佑</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">3</p>
                                    </td>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">か_香川　真司</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">4</p>
                                    </td>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">う_内田　篤人</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">5</p>
                                    </td>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">な_長友　佑都</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">6</p>
                                    </td>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">か_川島　永嗣</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <p class="c_typo_headerM c_typo_WHT">法人事務オペレーション部</p>
                    <div class="mem_memberBtnArea">
                        <div class="com_btnWidth280"><a class="c_btn c_btn_sizeM c_btn_GRN" href="javascript:void(0);">
                                <p class="c_typo_headerS c_typo_WHT c_typo_center">メンバー登録</p>
                            </a></div>
                    </div>
                </li>
                <li>
                    <p class="c_typo_headerM c_typo_WHT">情報システム部</p>
                    <div class="mem_memberBtnArea">
                        <div class="com_btnWidth280"><a class="c_btn c_btn_sizeM c_btn_GRN" href="javascript:void(0);">
                                <p class="c_typo_headerS c_typo_WHT c_typo_center">メンバー登録</p>
                            </a></div>
                    </div>
                </li>
            </ul>
        </section>

        <!-- ボタンセクション -->
        <section class="mem_btnSec">
            <div class="c_textLink c_textLink_WHT"><a href="javascript:history.back();">
                    <p>← 戻る</p>
                </a></div>
        </section>
    </main>

    <!-- ナビゲーション -->
    <nav class="com_nav">
        <ul class="com_navList">
            <li><a class="com_navBtn" href="./home.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/home.svg?20251010" alt="ホーム">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">ホーム</p>
                </a></li>
            <li><a class="com_navBtn com_navBtn_disabled" href="javascript:void(0);"><img class="com_navIcon"
                        src="../futsul_files/p_image/member_disactive.svg?20251010" alt="メンバー">
                    <p class="c_typo_headerXXS c_typo_BLK03 c_typo_center">メンバー</p>
                </a></li>
            <li><a class="com_navBtn" href="./match.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/battle.svg?20251010" alt="対戦表">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">対戦表</p>
                </a></li>
            <li><a class="com_navBtn" href="./score.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/rank.svg?20251010" alt="ランキング">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">ランキング</p>
                </a></li>
        </ul>
    </nav>


    <!-- 共通JS -->
    <script src="../futsul_files/p_css/event.js?20251010"></script>
    <script src="../futsul_files/p_css/common.js?20251010"></script>
    <!-- 画面個別JS -->
    <script src="../futsul_files/p_css/member.js?20251010"></script>
</body>

</html>