<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <title>フットサルリーグ｜メンバー</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/reset.css">
    <link rel="stylesheet" href="../futsul_files/p_css/component.css">
    <link rel="stylesheet" href="../futsul_files/p_css/common.css">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/member.css">
</head>

<body class="com_body com_body_flex">
    <!-- ヘッダー -->
    <header class="mem_header">
        <h1 class="c_typo_headerXL c_typo_WHT c_typo_center">メンバー</h1>
        <a id="com_reloadBtn" class="mem_reloadBtn" href="javascript:void(0);"><img class="mem_reloadIcon"
                src="../futsul_files/p_image/reload.svg" alt="更新"></a>
    </header>

    <!-- メイン -->
    <main class="com_main">
        <section class="mem_ttlSec">
            <p class="c_typo_bodyM c_typo_WHT">説明文説明文説明文説明文説明文説明文説明文説明文</p>
        </section>

        <!-- 一覧セクション -->
        <section class="mem_listSec">
            <ul class="mem_teamList">
                <li>
                    <h2 class="c_typo_headerM c_typo_WHT">営業企画部</h2>
                    <div class="mem_memberTableWrapper">
                        <table class="mem_memberTable">
                            <thead>
                                <tr>
                                    <th class="c_typo_headerS c_typo_BLK01 c_typo_center">氏名</th>
                                    <th class="c_typo_headerS c_typo_BLK01 c_typo_center">編集</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">は_長谷部　誠</p>
                                    </td>
                                    <td>
                                        <a class="mem_editIcon"><img src="../futsul_files/p_image/pencil.svg"
                                                alt="編集"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">ほ_本田　圭佑</p>
                                    </td>
                                    <td>
                                        <a class="mem_editIcon"><img src="../futsul_files/p_image/pencil.svg"
                                                alt="編集"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">か_香川　真司</p>
                                    </td>
                                    <td>
                                        <a class="mem_editIcon"><img src="../futsul_files/p_image/pencil.svg"
                                                alt="編集"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">う_内田　篤人</p>
                                    </td>
                                    <td>
                                        <a class="mem_editIcon"><img src="../futsul_files/p_image/pencil.svg"
                                                alt="編集"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">な_長友　佑都</p>
                                    </td>
                                    <td>
                                        <a class="mem_editIcon"><img src="../futsul_files/p_image/pencil.svg"
                                                alt="編集"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="c_typo_bodyM c_typo_BLK01">か_川島　永嗣</p>
                                    </td>
                                    <td>
                                        <a class="mem_editIcon"><img src="../futsul_files/p_image/pencil.svg"
                                                alt="編集"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <h2 class="c_typo_headerM c_typo_WHT">法人事務オペレーション部</h2>
                    <div class="mem_memberBtnWrapper"><a class="c_btn c_btn_sizeM c_btn_GRN" href="javascript:void(0);">
                            <p class="c_typo_headerS c_typo_WHT c_typo_center">メンバー登録</p>
                        </a></div>
                </li>
                <li></li>
            </ul>
        </section>

        <!-- ボタンセクション -->
        <section class="mat_btnSec">
            <div class="c_textLink c_textLink_WHT"><a href="javascript:history.back();">
                    <p>← 戻る</p>
                </a></div>
        </section>
    </main>

    <!-- ナビゲーション -->
    <nav class="com_nav">
        <ul class="com_navList">
            <li><a class="com_navBtn" href="./home.html"><img class="com_navIcon" src="../futsul_files/p_image/home.svg"
                        alt="ホーム">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">ホーム</p>
                </a></li>
            <li><a class="com_navBtn com_navBtn_disabled" href="javascript:void(0);"><img class="com_navIcon"
                        src="../futsul_files/p_image/member_disactive.svg" alt="メンバー">
                    <p class="c_typo_headerXXS c_typo_BLK03 c_typo_center">メンバー</p>
                </a></li>
            <li><a class="com_navBtn" href="./match.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/battle.svg" alt="対戦表">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">対戦表</p>
                </a></li>
            <li><a class="com_navBtn" href="./score.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/rank.svg" alt="ランキング">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">ランキング</p>
                </a></li>
        </ul>
    </nav>


    <!-- 共通JS -->
    <script src="../futsul_files/p_css/event.js"></script>
    <script src="../futsul_files/p_css/common.js"></script>
    <!-- 画面個別JS -->
    <script src="../futsul_files/p_css/member.js"></script>
</body>

</html>