<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <title>フットサルリーグ｜メンバー登録</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/reset.css?20251010">
    <link rel="stylesheet" href="../futsul_files/p_css/component.css?20251010">
    <link rel="stylesheet" href="../futsul_files/p_css/common.css?20251010">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../futsul_files/p_css/member_register.css?20251010">
</head>

<body class="com_body com_body_flex">
    <!-- ヘッダー -->
    <header class="mer_header">
        <h1 class="c_typo_headerXL c_typo_WHT c_typo_center">メンバー<span id="mer_title">登録</span></h1>
    </header>

    <!-- メイン -->
    <main class="com_main mer_main">
        <section class="mer_ttlSec">
            <p id="mer_exp" class="c_typo_bodyM c_typo_WHT">今回大会の参加メンバーを登録してください。</p>
        </section>

        <!-- 入力セクション -->
        <section class="mer_InputSec">
            <p class="c_typo_headerM c_typo_WHT">チーム</p>
            <p id="mer_departmentName" class="c_typo_bodyM c_typo_WHT"></p>
            <ul id="mer_inputList" class="mer_inputList">
                <li>
                    <div class="mer_crossBtn">
                        <div class="c_textLink c_textLink_WHT"><a href="javascript:void(0);">
                                <p class="headerS">削除</p><img class="c_textLink_icon_right"
                                    src="../futsul_files/p_image/cross_circle.svg" alt="削除">
                            </a></div>
                    </div>
                    <div class="mer_inputItemArea">
                        <p class="c_typo_headerM c_typo_WHT">職員番号</p>
                        <div class="mer_inputItem">
                            <div class="mer_textField_width116"><input class="c_textField mer_shokuinNum"
                                    name="mer_shokuinNum1" type="text" placeholder="A123456" pattern="[A-Z]\d{6}"
                                    title="半角大文字英字1字と半角数字6桁で入力してください (例: A123456)" maxlength="7"></div>
                        </div>
                    </div>
                    <div class="mer_inputItemArea">
                        <p class="c_typo_headerM c_typo_WHT">氏名</p>
                        <div class="mer_inputItem">
                            <div class="mer_textField_width280"><input class="c_textField mer_name" name="mer_name1"
                                    type="text" placeholder="め_明安　太郎" pattern="^[ぁ-ん]_.*　.*$"
                                    title="ひらがな1字 + _ + 任意の文字列1字以上 + 全角スペース + 任意の文字列1字以上で入力してください (例: め_明安　太郎)"></div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="mer_addLinkArea">
                <div class="c_textLink c_textLink_right c_textLink_WHT"><a id="mer_addLink" href="javascript:void(0);">
                        <p class="c_typo_headerS">メンバーを追加</p><img class="c_textLink_icon_right"
                            src="../futsul_files/p_image/plus_circle.svg?20251010" alt="追加">
                    </a></div>
            </div>
            <div class="mer_registerBtnArea">
                <div class="com_btnWidth280"><a class="c_btn c_btn_sizeM c_btn_GRN" href="javascript:void(0);">
                        <p class="c_typo_headerM c_typo_WHT c_typo_center">登録</p>
                    </a></div>
            </div>
        </section>

        <!-- ボタンセクション -->
        <section class="mer_btnSec">
            <div class="c_textLink c_textLink_WHT"><a href="javascript:history.back();">
                    <p class="c_typo_headerS">← 戻る</p>
                </a></div>
        </section>
    </main>

    <!-- ナビゲーション -->
    <nav class="com_nav">
        <ul class="com_navList">
            <li><a class="com_navBtn" href="./home.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/home.svg?20251010" alt="ホーム">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">ホーム</p>
                </a></li>
            <li><a class="com_navBtn com_navBtn" href="./member.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/member.svg?20251010" alt="メンバー">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">メンバー</p>
                </a></li>
            <li><a class="com_navBtn" href="./match.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/battle.svg?20251010" alt="対戦表">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">対戦表</p>
                </a></li>
            <li><a class="com_navBtn" href="./score.html"><img class="com_navIcon"
                        src="../futsul_files/p_image/rank.svg?20251010" alt="ランキング">
                    <p class="c_typo_headerXXS c_typo_BLK01 c_typo_center">ランキング</p>
                </a></li>
        </ul>
    </nav>

    <!-- 共通JS -->
    <script src="../futsul_files/p_css/event.js?20251010"></script>
    <script src="../futsul_files/p_css/common.js?20251010"></script>
    <!-- 画面個別JS -->
    <script src="../futsul_files/p_css/member_register.js?20251010"></script>
</body>


</html>
