<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フットサルリーグ集計アプリ</title>
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/components.css">
    <link rel="stylesheet" href="../futsul_files/css/common.css">
    <link rel="stylesheet" href="../futsul_files/css/home.css">
</head>

<body class="com_body">
    <!-- ヘッダー -->
    <header class="com_header">
        <img src="../futsul_files/image/soccerball.png" alt="サッカーボール">
        <h1 class="c_typo_headerM c_typo_WHT">フットサルリーグ2026</h1>
    </header>

    <!-- メイン -->
    <main class="com_main">
        <section class="hm_cardSec">
            <div class="hm_card">
                <p>今年度の大会</p>
                <ul class="hm_compeList">
                    <li><a href="./compeDetail.html" class="hm_compeCard">
                            <div class="hm_compeCard_left">
                                <p class="c_typo_headerS c_typo_BLK10">第1回フットサル大会</p>
                                <p class="c_typo_bodyXS c_typo_BLK8">📅 2024-07-11</p>
                            </div>
                            <div class="hm_compeCard_right">
                                <p class="c_typo_bodyS c_typo_BLK10">終了</p>
                            </div>
                        </a></li>
                    <li><a href="./compeDetail.html" class="hm_compeCard">
                            <div class="hm_compeCard_left">
                                <p class="c_typo_headerS c_typo_BLK10">第1回フットサル大会</p>
                                <p class="c_typo_bodyXS c_typo_BLK8">📅 2024-07-11</p>
                            </div>
                            <div class="hm_compeCard_right">
                                <p class="c_typo_bodyS c_typo_BLK10">開催中</p>
                            </div>
                        </a></li>
                    <li><a href="./compeDetail.html" class="hm_compeCard">
                            <div class="hm_compeCard_left">
                                <p class="c_typo_headerS c_typo_BLK10">第1回フットサル大会</p>
                                <p class="c_typo_bodyXS c_typo_BLK8">📅 2024-07-11</p>
                            </div>
                            <div class="hm_compeCard_right">
                                <p class="c_typo_bodyS c_typo_BLK10">これから</p>
                            </div>
                        </a></li>
                </ul>
            </div>
        </section>
    </main>

    <!-- フッター -->
    <footer class="com_footer">
        <p class="c_typo_bodyXS c_typo_WHT c_typo_align_center">&copy; 2026 フットサルリーグ. All Rights Reserved.</p>
    </footer>

    <nav class="com_nav">
        <ul class="com_nav_btnList">
            <li><a href="./home.html" class="com_nav_disactive"><img src="" alt="🏠">
                    <p class="c_typo_bodyXS c_typo_BLK8 c_typo_align_center">ホーム</p>
                </a></li>
            <li><a href="./match.html"><img src="" alt="📋">
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">対戦表</p>
                </a></li>
            <li><a href="./teamRanking.html"><img src="" alt="🏆">
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">順位表</p>
                </a></li>
            <li><a href="./personalRanking.html"><img src="../futsul_files/image/soccerball.png" alt="サッカーボール">
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">得点ランキング</p>
                </a></li>
        </ul>
    </nav>
</body>

</html>