<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>フットサルリーグ集計アプリ|管理者ログイン</title>
    <link rel="stylesheet" href="../../common/css/reset.css?20260601">
    <link rel="stylesheet" href="../../common/css/components.css?20260601">
</head>

<body>
    <header>
        <h1>← 管理者ログイン</h1>
    </header>

    <main>
        <img src="" alt="サッカーボール">
        <div>
            <p class="c_typo_headerL c_typo_BLK10 c_typo_align_center">管理者ログイン</p>
        </div>
        <div>
            <p class="c_typo_bodyS c_typo_BLK8 c_typo_align_center">パスワードを入力してください</p>
        </div>
        <div>
            <p class="c_typo_headerXS c_typo_BLK10 c_typo_align_left">パスワード</p>
            <div>
                <div class="c_textField07"><input class="c_textField07_inputText" placeholder="パスワードを入力" /></div>
            </div>
        </div>
        <div>
            <div class="c_button01 c_button01_green" ontouchstart=""><a href="javascript:void(0);"><div class="c_button01_wrapper c_button01_icon_not"><p class="c_typo_cta c_typo_WHT c_typo_align_center">ログイン</p></div></a></div>
        </div>
    </main>
    <script src="../../common/js/event.js?20260601"></script>
</body>

</html>