<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フットサルリーグ|対戦表</title>
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/components.css">
    <link rel="stylesheet" href="../futsul_files/css/common.css">
    <link rel="stylesheet" href="../futsul_files/css/match.css">
</head>

<body class="com_body">
    <!-- ヘッダー -->
    <header class="com_header">
        <a href="javascript: history.back();" class="c_typo_headerM c_typo_WHT">←</a>
        <h1 class="c_typo_headerM c_typo_WHT">&nbsp;対戦表</h1>
        <a href="./match.html" class="c_typo_headerM c_typo_WHT">↻</a>
    </header>

    <!-- メイン -->
    <main class="com_main">
        全試合
        未開始
        試合中
        終了
        <section class="mtc_listSec">
            <ul id="mtc_cardList" class="mtc_cardList">
                <li>
                    <p class="c_typo_headerS c_typo_BLK8">第<span class="mtc_matchNum">1</span>試合</p>
                    <a href="./matchDetail.html" class="mtc_detailCard">
                        <div class="mtc_detailCard_head">
                            <p class="c_typo_headerXS c_typo_BLK8"><span class="mtc_court">クラブハウス側</span></p>
                            <div class="c_tag01">
                                <div class="c_tag01_wrap c_tag01_h24 c_tag01_neutral">
                                    <p class="c_typo_headerXXS c_typo_BLK01">終了</p>
                                </div>
                            </div>
                        </div>
                        <div class="mtc_detailCard_bottom">
                            <div class="mtc_detailCard_left">
                                <p class="c_typo_headerXXS c_typo_BLK01 c_typo_align_center">営企</p>
                                <p class="c_typo_headerXL c_typo_GRN10 c_typo_align_center">0</p>
                            </div>
                            <p class="c_typo_bodyS c_typo_BLK01">VS</p>
                            <div class="mtc_detailCard_right">
                                <p class="c_typo_headerXXS c_typo_BLK01 c_typo_align_center">情シス</p>
                                <p class="c_typo_headerXL c_typo_GRN10 c_typo_align_center">3</p>
                            </div>
                        </div>
                    </a><a href="./matchDetail.html" class="mtc_detailCard">
                        <div class="mtc_detailCard_head">
                            <p class="c_typo_headerXS c_typo_BLK8"><span class="mtc_court">真ん中</span></p>
                            <div class="c_tag01">
                                <div class="c_tag01_wrap c_tag01_h24 c_tag01_neutral">
                                    <p class="c_typo_headerXXS c_typo_BLK01">終了</p>
                                </div>
                            </div>
                        </div>
                        <div class="mtc_detailCard_bottom">
                            <div class="mtc_detailCard_left">
                                <p class="c_typo_headerXXS c_typo_BLK01 c_typo_align_center">法人事務オペ</p>
                                <p class="c_typo_headerXL c_typo_GRN10 c_typo_align_center">2</p>
                            </div>
                            <p class="c_typo_bodyS c_typo_BLK01">VS</p>
                            <div class="mtc_detailCard_right">
                                <p class="c_typo_headerXXS c_typo_BLK01 c_typo_align_center">業務</p>
                                <p class="c_typo_headerXL c_typo_GRN10 c_typo_align_center">2</p>
                            </div>
                        </div>
                    </a><a href="./matchDetail.html" class="mtc_detailCard">
                        <div class="mtc_detailCard_head">
                            <p class="c_typo_headerXS c_typo_BLK8"><span class="mtc_court">クラブハウス逆側</span></p>
                            <div class="c_tag01">
                                <div class="c_tag01_wrap c_tag01_h24 c_tag01_neutral">
                                    <p class="c_typo_headerXXS c_typo_BLK01">終了</p>
                                </div>
                            </div>
                        </div>
                        <div class="mtc_detailCard_bottom">
                            <div class="mtc_detailCard_left">
                                <p class="c_typo_headerXXS c_typo_BLK01 c_typo_align_center">IT・デジ戦</p>
                                <p class="c_typo_headerXL c_typo_GRN10 c_typo_align_center">1</p>
                            </div>
                            <p class="c_typo_bodyS c_typo_BLK01">VS</p>
                            <div class="mtc_detailCard_right">
                                <p class="c_typo_headerXXS c_typo_BLK01 c_typo_align_center">Jリーグ+ブラ戦</p>
                                <p class="c_typo_headerXL c_typo_GRN10 c_typo_align_center">5</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <p class="c_typo_headerS c_typo_BLK8">第<span class="mtc_matchNum">2</span>試合</p>
                    <a href="./matchDetail.html" class="mtc_detailCard">
                        <div class="mtc_detailCard_head">
                            <p class="c_typo_headerXS c_typo_BLK8"><span class="mtc_court">クラブハウス側</span></p>
                            <div class="c_tag01">
                                <div class="c_tag01_wrap c_tag01_h24 c_tag01_info">
                                    <p class="c_typo_headerXXS c_typo_BLK01">試合中</p>
                                </div>
                            </div>
                        </div>
                        <div class="mtc_detailCard_bottom">
                            <div class="mtc_detailCard_left">
                                <p class="c_typo_headerXXS c_typo_BLK01 c_typo_align_center">営企</p>
                                <p class="c_typo_headerXL c_typo_GRN10 c_typo_align_center">0</p>
                            </div>
                            <p class="c_typo_bodyS c_typo_BLK01">VS</p>
                            <div class="mtc_detailCard_right">
                                <p class="c_typo_headerXXS c_typo_BLK01 c_typo_align_center">情シス</p>
                                <p class="c_typo_headerXL c_typo_GRN10 c_typo_align_center">3</p>
                            </div>
                        </div>
                    </a><a href="./matchDetail.html" class="mtc_detailCard">
                        <div class="mtc_detailCard_head">
                            <p class="c_typo_headerXS c_typo_BLK8"><span class="mtc_court">真ん中</span></p>
                            <div class="c_tag01">
                                <div class="c_tag01_wrap c_tag01_h24 c_tag01_warning">
                                    <p class="c_typo_headerXXS c_typo_BLK01">未開始</p>
                                </div>
                            </div>
                        </div>
                        <div class="mtc_detailCard_bottom">
                            <div class="mtc_detailCard_left">
                                <p class="c_typo_headerXXS c_typo_BLK01 c_typo_align_center">法人事務オペ</p>
                                <p class="c_typo_headerXL c_typo_GRN10 c_typo_align_center">2</p>
                            </div>
                            <p class="c_typo_bodyS c_typo_BLK01">VS</p>
                            <div class="mtc_detailCard_right">
                                <p class="c_typo_headerXXS c_typo_BLK01 c_typo_align_center">業務</p>
                                <p class="c_typo_headerXL c_typo_GRN10 c_typo_align_center">2</p>
                            </div>
                        </div>
                    </a><a href="./matchDetail.html" class="mtc_detailCard">
                        <div class="mtc_detailCard_head">
                            <p class="c_typo_headerXS c_typo_BLK8"><span class="mtc_court">クラブハウス逆側</span></p>
                            <div class="c_tag01">
                                <div class="c_tag01_wrap c_tag01_h24 c_tag01_warning">
                                    <p class="c_typo_headerXXS c_typo_BLK01">未開始</p>
                                </div>
                            </div>
                        </div>
                        <div class="mtc_detailCard_bottom">
                            <div class="mtc_detailCard_left">
                                <p class="c_typo_headerXXS c_typo_BLK01 c_typo_align_center">IT・デジ戦</p>
                                <p class="c_typo_headerXL c_typo_GRN10 c_typo_align_center">1</p>
                            </div>
                            <p class="c_typo_bodyS c_typo_BLK01">VS</p>
                            <div class="mtc_detailCard_right">
                                <p class="c_typo_headerXXS c_typo_BLK01 c_typo_align_center">Jリーグ+ブラ戦</p>
                                <p class="c_typo_headerXL c_typo_GRN10 c_typo_align_center">5</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </main>

    <nav class="com_nav">
        <ul class="com_nav_btnList">
            <li><a href="./home.html">
                    <div class="com_nav_img">🏠</div>
                    <p class="c_typo_bodyXS c_typo_BLK8 c_typo_align_center">ホーム</p>
                </a></li>
            <li><a href="./match.html" class="com_nav_disactive">
                    <div class="com_nav_img">📋</div>
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">対戦表</p>
                </a></li>
            <li><a href="./teamRanking.html">
                    <div class="com_nav_img">🏆</div>
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">順位表</p>
                </a></li>
            <li><a href="./personalRanking.html">
                    <div class="com_nav_img">⚽</div>
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">得点ランキング</p>
                </a></li>
        </ul>
    </nav>

    <script src="../../common/js/event.js"></script>
    <script src="../futsul_files/js/match.js"></script>
</body>

</html>