<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フットサルリーグ｜試合詳細</title>
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/components.css">
    <link rel="stylesheet" href="../futsul_files/css/common.css">
    <link rel="stylesheet" href="../futsul_files/css/matchDetail.css">
</head>

<body class="com_body">
    <!-- ヘッダー -->
    <header class="com_header">
        <a href="javascript: history.back();" class="c_typo_headerM c_typo_WHT">←</a>
        <h1 class="c_typo_headerM c_typo_WHT">&nbsp;試合詳細</h1>
    </header>

    <!-- メイン -->
    <main class="com_main">

    </main>

    <nav class="com_nav">
        <ul class="com_nav_btnList">
            <li><a href="./home.html">
                    <div class="com_nav_img">🏠</div>
                    <p class="c_typo_bodyXS c_typo_BLK8 c_typo_align_center">ホーム</p>
                </a></li>
            <li><a href="./match.html">
                    <div class="com_nav_img">📋</div>
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">対戦表</p>
                </a></li>
            <li><a href="./teamRanking.html">
                    <div class="com_nav_img">🏆</div>
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">順位表</p>
                </a></li>
            <li><a href="./personalRanking.html">
                    <div class="com_nav_img">⚽</div>
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">得点ランキング</p>
                </a></li>
        </ul>
    </nav>

    <script src="../../common/js/event.js"></script>
    <script src="../futsul_files/js/common.js"></script>
    <script src="../futsul_files/js/matchDetail.js"></script>
</body>

</html>