<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フットサルリーグ｜メンバー管理</title>
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/components.css">
    <link rel="stylesheet" href="../futsul_files/css/common.css">
    <link rel="stylesheet" href="../futsul_files/css/member.css">
</head>

<body class="com_body">
    <!-- ヘッダー -->
    <header class="com_header">
        <a href="javascript: history.back();" class="c_typo_headerS c_typo_WHT">←</a>
        <h1 class="c_typo_headerM c_typo_WHT">&nbsp;メンバー管理<span id="hm_thisTerm"></span></h1>
    </header>

    <!-- メイン -->
    <main class="com_main">
        <section class="mem_selectSec">
            <div class="c_textField03">
                <div class="c_textField03_inputForm c_textField_NoSelected">
                    <select class="c_textField03_inputText">
                        <option value="">チームを選択してください</option>
                        <option value="1">営企</option>
                        <option value="2">情シス</option>
                        <option value="3">サイバー・シスリス</option>
                    </select>
                    <div class="c_textField03_iconArea"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.2993 10.4L12.6093 14.76C12.4393 14.91 12.2193 15 11.9893 15C11.7593 15 11.5293 14.92 11.3693 14.76L6.67933 10.4C6.55933 10.28 6.47933 10.14 6.44933 9.98C6.41933 9.82 6.43933 9.66 6.49933 9.51C6.56933 9.36 6.67933 9.23 6.81933 9.14C6.95933 9.05 7.12933 9 7.30933 9H16.6893C16.8593 9 17.0393 9.05 17.1793 9.14C17.3193 9.23 17.4393 9.36 17.5093 9.51C17.5793 9.66 17.5893 9.83 17.5593 9.99C17.5193 10.15 17.4393 10.29 17.3093 10.41L17.2993 10.4Z" fill="#008673"></path></svg></div>
                </div>
            </div>
        </section>
        
        <section class="mem_listSec">
            <ul id="mem_list" class="mem_list"></ul>
        </section>
    </main>

    <nav class="com_nav">
        <ul class="com_nav_btnList">
            <li><a href="./home.html">
                    <div class="com_nav_img">🏠</div>
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">ホーム</p>
                </a></li>
            <li><a href="./member.html" class="com_nav_disactive">
                    <div class="com_nav_img">👥</div>
                    <p class="c_typo_bodyXS c_typo_BLK8 c_typo_align_center">メンバー管理</p>
                </a></li>
            <li><a href="./match.html">
                    <div class="com_nav_img">📋</div>
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">対戦表</p>
                </a></li>
            <li><a href="./ranking.html">
                    <div class="com_nav_img">🏆</div>
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">ランキング</p>
                </a></li>
        </ul>
    </nav>

    <script src="../../common/js/event.js"></script>
    <script src="../futsul_files/js/common.js"></script>
    <script src="../futsul_files/js/member.js"></script>
</body>

</html>