<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フットサルリーグ｜メンバー管理</title>
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/components.css">
    <link rel="stylesheet" href="../futsul_files/css/common.css">
    <link rel="stylesheet" href="../futsul_files/css/member.css">
</head>

<body class="com_body">
    <!-- ヘッダー -->
    <header class="com_header">
        <a href="javascript: history.back();" class="c_typo_headerM">←</a>
        <h1 class="c_typo_headerM c_typo_WHT">&nbsp;メンバー管理<span id="hm_thisTerm"></span></h1>
    </header>

    <!-- メイン -->
    <main class="com_main">
        <section class="mem_listSec">
            <ul class="mem_list">
                <li></li>
            </ul>
        </section>
    </main>

    <nav class="com_nav">
        <ul class="com_nav_btnList">
            <li><a href="./home.html">
                    <div class="com_nav_img">🏠</div>
                    <p class="c_typo_bodyXS c_typo_BLK8 c_typo_align_center">ホーム</p>
                </a></li>
            <li><a href="./member.html" class="com_nav_disactive">
                    <div class="com_nav_img">🫂</div>
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">メンバー管理</p>
                </a></li>
            <li><a href="./match.html">
                    <div class="com_nav_img">📋</div>
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">対戦表</p>
                </a></li>
            <li><a href="./ranking.html">
                    <div class="com_nav_img">🏆</div>
                    <p class="c_typo_bodyXS c_typo_BLK10 c_typo_align_center">ランキング</p>
                </a></li>
        </ul>
    </nav>

    <script src="../../common/js/event.js"></script>
    <script src="../futsul_files/js/common.js"></script>
    <script src="../futsul_files/js/member.js"></script>
</body>

</html>